<!--
Google Analytics & Tag Manager ✅

JSON-LD für strukturierte Daten ✅

CSS-Einbindungen für zielgruppen.css und custom.css ✅

eine Zeile zum Einbinden von Feather Icons:
-->


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9GV2L88RXT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9GV2L88RXT');
  
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T2M7SJDZ');</script>
<!-- End Google Tag Manager -->

<!-- JSON-LD Script -->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Mediator Sweti",
  "image": "{{ .Site.BaseURL }}images/logo.png",
  "url": "{{ .Site.BaseURL }}",
  "telephone": "+49-351-4224716",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Buenaustrasze 52",
    "addressLocality": "Dresden",
    "postalCode": "01154",
    "addressCountry": "DE"
  },
  "openingHours": "Mo-Fr 09:00-17:00",
  "priceRange": "€€",
  "sameAs": [
    "https://www.linkedin.com/in/sweti/",
    "https://www.facebook.com/mediator.sweti"
  ]
}
</script>
<!-- Ende JSON-LD Script -->

<link rel="stylesheet" href="/css/zielgruppen.css">

<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

<script src="https://unpkg.com/feather-icons"></script>